@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Polli Sans';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.root-background {
  background-color: #000000;
  opacity: 1;
  background-image:  linear-gradient(#0c0c0c 2.6px, transparent 2.6px), linear-gradient(to right, #0c0c0c 2.6px, #000000 2.6px);
  background-size: 52px 52px;
}

::-webkit-scrollbar {
  display: none;
}